{% extends 'base.html.twig' %}

{% block title %}Liste formation{% endblock %}

{% block pagetitle %}Liste des formations{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitulé</th>
                <th>Description</th>
                <th>Crée le</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.createdAt ? course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ course.updatedAt ? course.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_course_show', {'id': course.id}) }}">Détails formation</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">Ajouter une formation</a>
{% endblock %}
