{% extends 'base.html.twig' %}

{% block title %}Liste message{% endblock %}

{% block pagetitle %}Liste des messages{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Expéditeur</th>
                <th>Contenu</th>
                <th>Crée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.object }}</td>
                <td>{{ message.expeditor }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button><a href="{{ path('app_message_show', {'id': message.id}) }}">Voir le message</a></button>
                    {# <button><a href="{{ path('app_message_edit', {'id': message.id}) }}">Modifier</a></button> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_new') }}">Créer un nouveau message</a>
{% endblock %}
